.avatar-modal-dialog {
  height: 70%; /* = 90% of the .avatar-modal-backdrop block = %90 of the screen */
    overflow-y: initial !important
}
.avatar-modal-content {
  height: 100%; /* = 100% of the .avatar-modal-dialog block */
}
.avatar-modal-body {
  height: 100%; /* = 100% of the .avatar-modal-dialog block */
  overflow:hidden;
}
.avatar-scollbar {
    height: 90%;
	overflow-y: scroll;     /*give auto it will take based in content */
}
.avatar-scollbar-left {
    height: 100%;
  overflow-y: scroll;     /*give auto it will take based in content */
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
}
.avatar-image-left{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-top: auto;
  width: 70%;
}
.avatar-card{
	display: inline;
    height: auto;
    width: 40%;
    padding:2%;
    margin:0;
    outline:1px black;
}
.modal-body{
  word-break: break-all;
}
