.avatar-div-setting {
  margin-top:-10px;
  display: inline-flex;
  flex-direction: row-reverse;
  padding-left:25px;
}

.avatar {
  margin-left: -10px;
  position: relative;
  border:1px solid #fff;
  border-radius: 50%;
  overflow:hidden;
  width:50px;
  height:50px;
  border-color: white;
  border-style: solid;
  border-width: 3px;
}

.avatar img {
  width:50px;
  height:50px;
}
.group-card-box {
  height:auto;
}
.group-card-box-title {
  color:black;
  min-height:50px;
  /*text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;*/
}
.group-card-box a{
  text-decoration: none!important;
}
.group-card-box:hover {
  transition: box-shadow 0.3s ease-in-out;
  box-shadow: 2px 2px 2px rgba(190, 190, 190, 0.35);
}
.group-card-box:active {
  transition: box-shadow 0.3s ease-in-out;
  box-shadow: 10px 10px 10px rgba(190, 190, 190, 0.35);
}
.group-card-box:target {
  transition: box-shadow 0.3s ease-in-out;
  box-shadow: 10px 10px 10px rgba(190, 190, 190, 0.35);
}
.group-card-list-setting {
	margin-left:0px;
	margin-right:auto;
}
.group-card-member-text p{
  display: inline-flex;
  font-size: 12px;
  color: grey;
  text-decoration:none;
}

.group-card-row-text p{
  font-size: 13px;
  color: black;
}
.group-card-admin-icon{
  font-size: 13px;
}
.group-page-member-setting p{
	display: inline-flex;
	font-size: 14px;
	color: grey;
 }

.group-page-box {
	height: auto;
	border-style: solid;
	border-color: #F0F0F0;
	border-width: 1px;
	border-radius: 2px;
	overflow: hidden;
	min-height:150px;
}

.group-page-box:hover{
  transition: box-shadow 0.15s ease-in-out;
  box-shadow: 2px 2px 2px rgba(220, 220, 220, 0.35);
}
.group-page-box-header {
	background-color: #F5F5F5;
}

.avatar-with-name {
  margin-left:2px;
  height:auto;
  width:auto;
  border-style: solid;
  border-width: 1px;
  border-radius: 50px;
  background-color:rgba(245, 245, 245, 0.7);
  text-decoration: none!important;
  border-color: rgba(233, 233, 233, 1);

}
.avatar-with-name img{
  display:flex;
  margin-left: -1px;
  height:35px;
  width:35px;
  align-items:center;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(170, 170, 170, 1);
  text-decoration: none!important;
  }
.avatar-with-name span{
  display:flex;
  text-decoration: none!important;
  color: black;
  align-items:center;
  margin-left: 2px;
  margin-right: 5px;
}
